.App {
  height: 100vh;  
}


@font-face {
  font-family: 'HelveticaNeue-Thin';
  src: url('./fonts/HelveticaNeue-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'HelveticaNeue-Light';
  src: url('./fonts/HelveticaNeue-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'HelveticaNeue-Medium';
  src: url('./fonts/HelveticaNeue-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Helvetica-Neu-Bold';
  src: url('./fonts/Helvetica-Neu-Bold.ttf') format('truetype');
}
